@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

@* the fun starts here *@
<hr>
<div class="col-md-12">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="font-weight-light text-dark">@Model.Value("categoryItemName")</h1>
        <p class="lead text-dark ">@Model.Value("description") </p>
		<img class="col-md-6 h-100" src="/media/fezjwudy/deva-williamson-tislq6gbftg-unsplash.jpg">
      </div>
    </div>
  </div>
<br>
<br>

<div class="d-flex flex-row bd-highlight mb-3">
	<div class="p-2 bd-highlight">
		<h5>@Model.Value("packagesName")</h5>
		<p class="text-description">@Model.Value("packageDescription")</p>
		<h6>Price: @Model.Value("packagePrice")</h6>
		<img class="img-fluid" src="/media/p5efie22/yellow-pink-and-blue-party-balloons-796606.jpg">
		<br><br>
		<button>Buy</button>
		
	</div>
	<div class="p-2 bd-highlight">
		<h5>@Model.Value("packagesMediumName")</h5>
		<p class="text-description">@Model.Value("packagesMediumDescription")</p>
		<h6>Price: @Model.Value("packagesMediumPrice")</h6>
		<img class="img-fluid " src="/media/mtrjv21y/three-pineapples-with-gold-party-hats-1071883.jpg">
		<br><br>
		<button>Buy</button>
		
	</div>
	<div class="p-2 bd-highlight">
		<h5>@Model.Value("packagesLargeName")</h5>
		<p class="text-description">@Model.Value("packagesLargeDescription")</p>
		<h6>Price: @Model.Value("packagesLargePrice")</h6>
		<img class="img-fluid" src="/media/xjmlh1mi/heather-ford-fq54fqucgce-unsplash.jpg">
		<br><br>
		<button>Buy</button>
		
	</div>
	<br>
</div>
