@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url : String.Empty;
}
<hr>
<header class="jumbo">
  <div class="col-md-12">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="font-weight-light text-dark">@Model.HeroHeader</h1>
      </div>
    </div>
  </div>
</header>

<div class="container container-fluid">
    <div class="row mb-3">
        <div class="col-sm-6 col-md-6 col-xl-6"><a href="/wedding"><img class="img-fluid" src="/media/ltzkt054/joshua-glass-vilfdijcfvi-unsplash.jpg"></a></div>
        <div class="col-sm-6 col-md-6 col-xl-6">
            <h4>@Model.Value("weddingPageName")</h4>
            <p>@Model.Value("weddingDescription")</p>
            <a href="/wedding" class="btn">Read more here...</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6 col-md-4 col-xl-6"><a href="/birthday"><img class="img-fluid" src="/media/e0zgpvdn/cakes-on-table-1857157.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-xl-6">
            <h4>@Model.Value("birthdayPageName")</h4>
            <p>@Model.Value("BirthdayDescription")</p>
            <button><a href="/birthday" class="btn">Read more here...</a></button>
        </div>
        
    </div>
    <div class="row mb-3">
        <div class="col-sm-6 col-md-4 col-xl-6"><a href="/party"><img class="img-fluid" src="/media/zjzptr05/people-toasting-wine-glasses-3171837.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-xl-6">
            <h4>@Model.Value("partyPageName")</h4>
            <p>@Model.Value("PartyDescription")</p>
            <button><a href="/party" class="btn">Read more here...</a></button>
        </div>
    </div>