@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url : String.Empty;
}

<header class="masthead">
  <div class="container h-100 ">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
          <section class="col-md-12 h-100"
         style="background-image: url('@backgroundImage')">
        <h1 class="font-weight-light">@Model.HeroHeader</h1>
        <p class="lead">@Model.HeroDescription</p>
      </div>
    </div>
  </div>
</header>


<section class="col-md-12 h-100"
         style="background-image: url('@backgroundImage')">
    <div class="section__hero-content">
        <h1>@Model.HeroHeader</h1>
        <p class="section__description">@Model.HeroDescription</p>
        @if (Model.HeroCtalink != null)
        {
            <a class="button button--border--solid" href="@Model.HeroCtalink.Url">
                @Model.HeroCtacaption
            </a>
        }
    </div>
</section>




<section class="section section--themed">

    <div class="container">
        <div class="row">


        </div>
    </div>

</section>