@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url : String.Empty;
}

<header class="jumbo">
  <div class="col-md-12">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <img class="card-img col-md-auto" src="/media/hp1d20fi/artbord1.png">
      </div>
    </div>
  </div>
</header>

<div class="mt-5">
  <div class="row no-gutters">
    <div class="col-md-4 col-sm-4 col-xl-4">
      <img src="/media/ojhhd0h2/weddingcakesmall.png" class="card-img text-nowrap" alt="wedding cake">
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 mt-5">
      <div class="card-body pt-9">
        <h2 class="card-title">@Model.Value("weddingPageName")</h2>
        <h4 class="card-text">@Model.Value("weddingDescription")</h4>
        <a href="/wedding" class="btn btn-info">Read more</a>
      </div>
    </div>
  </div>
</div>

<div class=" mt-5">
  <div class="row no-gutters">
    <div class="col-md-6 col-sm-6 col-xl-6 mt-5">
      <div class="card-body pt-9 text-right">
        <h2 class="card-title">@Model.Value("partyPageName")</h2>
        <h4 class="card-text">@Model.Value("PartyDescription")</h4>
        <a href="/wedding" class="btn btn-info text-right">Read more</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xl-4">
      <img src="/media/pycozy3h/cupcake.png" class="cupCakeImg card-img text-nowrap" alt="Cupcake">
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="row no-gutters">
    <div class="col-md-4 col-sm-4 col-xl-4">
      <img src="/media/nxpndt35/doughnuts.png" class="card-img text-nowrap mb-5" alt="Doughnuts">
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 mt-5">
      <div class="card-body pt-9">
        <h2 class="card-title">@Model.Value("birthdayPageName")</h2>
        <h4 class="card-text">@Model.Value("BirthdayDescription")</h4>
        <a href="/birthday" class="btn btn-info">Read more</a>
      </div>
    </div>
  </div>
</div>