@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

@* the fun starts here *@
<hr>
<div class="col-md-12">
    <div class="row h-100 align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="font-weight-light text-dark">@Model.Value("categoryItemName")</h1>
        <p class="lead text-dark ">@Model.Value("description") </p>
		<img class="col-md-6 h-100" src="/media/ltzkt054/joshua-glass-vilfdijcfvi-unsplash.jpg">
      </div>
    </div>
  </div>
<br>
<br>

<div id="package" class="d-flex flex-row bd-highlight mb-3">
	<div class="card p-2 bd-highlight" style="width: 25rem;">
		<h5>@Model.Value("packagesName")</h5>
		<div class="card-body">
			<p class="text-description">@Model.Value("packageDescription")</p>
			<h6>Price: @Model.Value("packagePrice")</h6>
			<img class="img-fluid rounded" src="/media/vm1n4hel/celebration-colorful-colourful-cupcakes-587741.jpg" alt="Cupcakes">
			<br><br>
			<button><a href="/shopping-cart">buy</a></button>
		</div>
		
	</div>
	<div id="package" class="card p-2 bd-highlight" style="width: 25rem;">
		<h5>@Model.Value("packagesMediumName")</h5>
		<div class="card-body">
			<p class="text-description">@Model.Value("packagesMediumDescription")</p>
			<h6>Price: @Model.Value("packagesMediumPrice")</h6>
			<img class="img-fluid rounded" src="/media/0pbb0hri/anniversary-birthday-cake-celebration-410398.jpg" alt="wedding cake">
			<br><br>
			<button><a href="/shopping-cart">buy</a></button>
		</div>
		
	</div>
	<div id="package" class="card p-2 bd-highlight" style="width: 25rem;">
		<h5>@Model.Value("packagesLargeName")</h5>
		<div class="card-body">
			<p class="text-description">@Model.Value("packagesLargeDescription")</p>
			<h6>Price: @Model.Value("packagesLargePrice")</h6>
			<img class="img-fluid rounded" src="/media/owwoocfu/person-pouring-champagne-on-champagne-flutes-3171770.jpg" alt="champagne">
			<br><br>
			<button><a href="/shopping-cart">buy</a></button>
		</div>
		
	</div>
	<br>
</div>