@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@{ 
    var site = Model.Root();
    var selection = site.Children.Where(x => x.IsVisible());
    var home = (Home)Model.Root();
}

<section class="container"> 
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FBF3FE;">
  <a style="color: black" class="nav-link  @Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")" href="@site.Url">@site.Name</a>
      @foreach (var item in selection)
        {
          <a style="color: black" class="nav-link  @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
        }
</section>
